.page{
background-color: white;
.main{
  margin:5px 10px;
  background: linear-gradient(350deg, rgba(225,237,240,1) 0%, rgba(253,210,194,1) 21%, rgba(250,176,197,1) 37%, rgba(246,184,221,1) 41%, rgba(225,237,240,1) 71%);
  border-radius: 6px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;
  .userWrapper{
    margin: auto;
    text-align: center;
  }
  .inputWrapper{
    margin: auto;
  .input{
    width:400px;
    padding:5px;
    border: 1px solid gray;
    border-radius: 6px;
    &:focus{
      outline: none;
    }
  }
  .submit{
    position: relative;
    right:42px;
    padding:5px;
    border-radius: 5px;
    border:0;
    cursor: pointer;
    background: #D1C2FD;
  }
}
}
}