.analysis{
    width:100%;
    display: flex;
    @media screen and (max-width: 850px)  {
        flex-direction: column;
    }
    .score{
        width:67%;
        margin-left: 60px;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #B1B1B1;
        box-shadow: 0px 4px 4px 0px #0000001A;
        height: fit-content;
        @media screen and (max-width: 850px)  {
            width:95%;
            margin:auto;
        }
        .scoreHeader{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        .heading{
            font-size: 18px;
            font-weight: 600;
            }
            .subheading{
            font-size: 10px;
            font-weight: 600;
            line-height: 16px;
            color: #8C8C8C;
            }
        }
        .donutSection{
            margin-top:50px;
            @media screen and (max-width: 550px)  {
            canvas{
                margin: auto;
            }
            margin-bottom: -50px;
            }
        }
        .scoreMain{
            display: flex;
            position: relative;
            .arcText{
                position: relative;
                bottom:70px;
                text-align: center;
                .reliabilityLabel{
                font-size: 12px;
                font-weight: 600;
                line-height: 24px;
                color: #727272;
                }
                .reliabilityScoreLarge{
                font-size: 50px;
                font-weight: 900;
                line-height: 50px;
                }
            }
            .scoreText{
                margin: 50px 20px;
                @media screen and (max-width: 550px)  {
                margin-left:0px;
                }
                .firstHeading{
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 5px;
                @media screen and (max-width: 1450px)  {
                    font-size:14px;
                }
                }
                .largeHeading{
                font-size: 40px;
                font-weight: 800;
                line-height: 44px;
                margin-bottom: 15px;
                @media screen and (max-width: 1450px)  {
                    font-size:30px;
                    line-height: 33px;
                }
                }
                .reliabilitySummary{
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                @media screen and (max-width: 1350px)  {
                    font-size:14px;
                }
                }
            }
            @media screen and (max-width: 550px)  {
                flex-direction: column;
                .scoreText{
                    width: 100%;
                    margin-bottom: 50px;
                }
            }
        }
        .how{
            font-size: 10px;
            font-weight: 600;
            line-height: 16px;
            color: #8C8C8C;
            text-decoration: underline;
    }
    }
    .sources{
        width:33%;
        margin-left: 20px;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #B1B1B1;
        box-shadow: 0px 4px 4px 0px #0000001A;
        @media screen and (max-width: 850px)  {
            width:95%;
            margin:auto;
            margin-top: 20px;
        }
        .heading{
        font-size: 18px;
        font-weight: 600;
        }
        .subheading{
        font-size: 10px;
        font-weight: 600;
        line-height: 16px;
        color: #8C8C8C;
        }
        .sourceCredibilityRow{
            width:100%;
            margin:30px 0px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            @media screen and (max-width: 1350px)  {
                flex-direction: column;
            }
            .credibilityRatingWrapper{
                text-align: center;
            }
            .backgroundBar, .foregroundBar{
                height:25px;
                width: 100%;
            }
            .foregroundBar{
                background: linear-gradient(90deg, #11F90E -7.41%, #1683FF 100%);
                position: relative;
                bottom:25px;
            }
            .backgroundBar{
                background: #E8E8E8;
                border-radius: 0px 40px 40px 0px;
            }
            .valueHeadingOne{
            font-size: 50px;
            font-weight: 900;
            line-height: 40px;
            }
            .valueHeadingTwo{
            font-size: 24px;
            font-weight: 800;
            line-height: 24px;
            }
            .averageText{
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            }
        }
        .sourceSummary{
            background-color: #F1F1F1;
            padding:15px;
            border-radius:12px;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            color:#636363;
            .sourceSummaryParagraph{
                margin-bottom:8px;
            }
            .readMore{
                font-weight: bold;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
.thanksWrapper{
    margin:30px 60px;
    font-size: 16px;
    font-weight: 500;
.thanks{
    background-color: #1683FF1A;
    padding:15px 10px;
    border-radius: 9px;
}
}
.feedbackRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .interpretedLink{
        cursor: pointer;
        font-size: 14px;
        color: #727272;
        font-weight: 500;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: auto;
        margin:20px;
    }
    @media screen and (max-width: 850px)  {
        display: block;
    }
}
.feedbackWrapper{
    display: flex;
    color: #727272;
    font-size: 14px;
    padding-bottom:20px;
    margin:20px 60px 0px 60px;
    justify-content: space-evenly;
    @media screen and (max-width: 850px)  {
        margin:20px;
    }
    .convinceText{
        margin-right:10px;
    }

    .feedbackThumb{
        margin-top:-2px;
        border-radius: 10px;
        cursor: pointer;
        padding:2px;
        transition: background-color .2s ease-in;
        &:hover{
            background-color:#1683FF1A;
        }
    }
}
.feedbackDrawer{
    background-color: #1683FF1A;
    margin-left: 60px;
    padding:15px;
    border-radius: 12px;
    @media screen and (max-width: 850px)  {
        width: 100%;
        margin: 20px;
    }
    .feedbackDrawerHeading{
        margin:10px 0px;
    }
    .labelSectionWrapper{
        button{
        margin: 5px;
        padding:5px 10px;
        border: 1px solid #9B9B9B;
        border-radius:9px;
        background: white;
        color: #9B9B9B;
        cursor: pointer;
        font-size: 14px;
        }
        .active{
        color:black;
        border-color: black;
        }
    }
    .feedbackTextInput{
        width:95%;
        margin:20px 0px;
        padding:10px;
        background-color: white;
        color: black;
        border: 1px solid #9B9B9B;
        border-radius: 9px;
        font-size: 14px;
    }
    
    .bottomRow{
        display: flex;
        .feedbackDisclaimer{
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
            line-height: 16px;
            color:#9B9B9B;
            width:80%;
            margin-right:30px;
            .privacyLink{
                color: black;
                text-decoration: underline;
            }
            @media screen and (max-width: 550px)  {
            font-size: 8px;
            line-height: 8px;
            }
            }
        .cancelButton, .submitButton{
            width: fit-content;
            padding:10px 12px;
            border-radius: 12px;
            font-weight: bold;
            cursor: pointer;
        }
        .cancelButton{
            border: 1px solid #9B9B9B;
            color: black;
            background-color: white;
        }
        .submitButton{
            background: linear-gradient(89.75deg, #1683FF 7.64%, #11F90E 170.65%);
            border:0;
            color: white;
            margin: 0px 10px;
            &:disabled{
                background:#9B9B9B;
                cursor: auto;
            }
        }
    }
}