.analysis{
    width:100%;
    display: flex;
    .score{
        width:67%;
        margin-left: 60px;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #B1B1B1;
        box-shadow: 0px 4px 4px 0px #0000001A;
        .scoreHeader{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        .heading{
            font-size: 18px;
            font-weight: 600;
            }
            .subheading{
            font-size: 10px;
            font-weight: 600;
            line-height: 16px;
            color: #8C8C8C;
            }
        }
        .donutSection{
            display: flex;
            flex-direction: column;
        }
        .scoreMain{
            display: flex;
            margin:25px 0px;
            position: relative;
            margin-bottom:-50px;
            .arcText{
                position: relative;
                bottom:150px;
                text-align: center;
                .reliabilityLabel{
                font-size: 12px;
                font-weight: 600;
                line-height: 24px;
                color: #727272;
                }
                .reliabilityScoreLarge{
                font-size: 50px;
                font-weight: 900;
                line-height: 50px;
                }
            }
            .scoreText{
                width: 60%;
                margin-left:0px;
                .firstHeading{
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 5px;
                @media screen and (max-width: 1350px)  {
                    font-size:14px;
                }
                }
                .largeHeading{
                font-size: 40px;
                font-weight: 800;
                line-height: 44px;
                margin-bottom: 15px;
                @media screen and (max-width: 1350px)  {
                    font-size:30px;
                    line-height: 33px;
                }
                }
                .reliabilitySummary{
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                @media screen and (max-width: 1350px)  {
                    font-size:14px;
                }
                }
            }
        }
        .how{
            font-size: 10px;
            font-weight: 600;
            line-height: 16px;
            color: #8C8C8C;
            text-decoration: underline;
    }
    }
    .sources{
        width:33%;
        margin-left: 20px;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #B1B1B1;
        box-shadow: 0px 4px 4px 0px #0000001A;
        .heading{
        font-size: 18px;
        font-weight: 600;
        }
        .subheading{
        font-size: 10px;
        font-weight: 600;
        line-height: 16px;
        color: #8C8C8C;
        }
        .sourceCredibilityRow{
            width:100%;
            margin:30px 0px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            @media screen and (max-width: 1350px)  {
                flex-direction: column;
            }
            .credibilityRatingWrapper{
                text-align: center;
            }
            .backgroundBar, .foregroundBar{
                height:25px;
                width: 100%;
            }
            .foregroundBar{
                background: linear-gradient(90deg, #11F90E -7.41%, #1683FF 100%);
                position: relative;
                bottom:25px;
            }
            .backgroundBar{
                background: #E8E8E8;
                border-radius: 0px 40px 40px 0px;
            }
            .valueHeadingOne{
            font-size: 50px;
            font-weight: 900;
            line-height: 40px;
            }
            .valueHeadingTwo{
            font-size: 24px;
            font-weight: 800;
            line-height: 24px;
            }
            .averageText{
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            }
        }
        .sourceSummary{
            background-color: #F1F1F1;
            padding:15px;
            border-radius:12px;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            color:#636363;
            .readMore{
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}
.feedbackWrapper{
    display: flex;
    color: #727272;
    font-size: 14px;
    padding-bottom:20px;
    margin:20px 60px;
    width:300px;
    justify-content: space-evenly;
    .feedbackThumb{
        padding:2px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color .3s ease-in;
        &:hover{
            background-color:#1683FF55;
        }
    }
}