.analysis{
    width:100%;

    display: flex;
    .score{
        width:67%;
        margin-left: 60px;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #B1B1B1;
        box-shadow: 0px 4px 4px 0px #0000001A;
        .scoreHeader{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        .heading{
            font-size: 18px;
            font-weight: 600;
            }
            .subheading{
            font-size: 10px;
            font-weight: 600;
            line-height: 16px;
            color: #8C8C8C;
            }
        }
        .scoreMain{
            display: flex;
            margin:25px 0px;
            .scoreGraph{
                height: 200px;
                width: 40%;
                background-color: pink;
            }
            .scoreText{
                width: 60%;
                height: 200px;
                background-color: #aaaaff;
            }
        }
    }
    .sources{
        width:33%;
        margin-left: 20px;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #B1B1B1;
        box-shadow: 0px 4px 4px 0px #0000001A;
        .heading{
        font-size: 18px;
        font-weight: 600;
        }
        .subheading{
        font-size: 10px;
        font-weight: 600;
        line-height: 16px;
        color: #8C8C8C;
        }
        .sourceCredibilityRow{
            width:100%;
            margin:30px 0px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            /*temp*/
            height:80px;
            background-color: silver;
            /*endtemp*/
            .valueHeadingOne{
            font-size: 50px;
            font-weight: 900;
            line-height: 40px;
            }
            .valueHeadingTwo{
            font-size: 24px;
            font-weight: 800;
            line-height: 24px;
            }
            .averageText{
                margin-bottom: 10px;
            }
        }
        .sourceSummary{
            background-color: #F1F1F1;
            padding:15px;
            border-radius:12px;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            color:#636363;

            .readMore{
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}