.tintedWrapper{
    position: fixed;
    height: 100vh;
    width:10000px;
    background-color: #000000cc;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal{
        background-color: white;
        width: 100%;
        height: 400px;
        max-width: 800px;
        border-radius: 20px;
        padding: 50px;
        position: relative;
        left:48vw;
        .exitWrapper{
            position: absolute;
            top:20px;
            right:30px;
            cursor: pointer;
        }
        .modalTitle{
        font-family: 'inter', sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 40px;
        }
        .modalRow{
            display: flex;
            justify-content: space-between;
            margin: 30px 0px;
            .rowTitle{
                font-family: 'inter', sans-serif;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 3px;
            }
            .rowDescription, .timeZone{
                font-family: 'inter', sans-serif;
                font-size: 18px;
                font-weight: 600;
                color:#999;
            }
            .timeZone{
                padding-top:20px;
            }
            .langSelect{
                margin-top:15px;
                padding:10px;
                border:2px solid #9B9B9B;
                border-radius: 8px;
            }
        }
        .problemInput{
            width: 100%;
            min-height: 250px;
            padding: 20px;
            background: #D9D9D9;
        }
        .problemButtonRow{
            display: flex;
            justify-content: end;
            .problemCancel, .problemSubmit{
                width:120px;
                height: 40px;
                margin-top:10px;
                margin-left:20px;
                font-family: 'inter', sans-serif;
                font-weight: 600;
                border: 1px solid #1683ff;
            }
            .problemCancel{
                background: transparent;
            }
            .problemSubmit{
                background: #1683ff;
            }
        }
    }
}